body {
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    align-items: flex-end;
    position: relative;
    max-width: 1604px;
    margin-left: auto;
    margin-right: auto;
    background: #EFEFEF;
    height: 560px;
    background-image: url(img/form_bg.jpg);
}

.img_flower {
    position: absolute;
    left: 52px;
    bottom: 108px;
}

.container {
    max-width: 808px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 89.5px;
    background: #FBF7F6;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    z-index: 2;
}

.block_form {
    display: flex;
    justify-content: center;
    width: 50%;
    z-index: 3;
}

.form1 {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form1 p {
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.125;
    letter-spacing: 0.04em;
    color: #371030;
    padding-top: 2.07em;
    margin-bottom: 1.0625rem;
}

input:not([type="submit"]) {
    border: none;
    border-bottom: 1px solid #371030;
    background-color: transparent;
    height: 30px;
    margin-bottom: 1.3125rem; 
}

.input1-2 {
    display: flex;
    justify-content: space-between;
}

input::placeholder {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: #371030;
    padding-top: 0.25em;
}

input#user_name, input#user_phone {
    width: 144px;
}

input#user_name {
    margin-right: 2.25rem;
}

input[type="submit"] {
    height: 55px;
    background: #FFB0BA;
    box-shadow: 3px 3px 0px 3px #DE8E98;
    border-radius: 100px;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    color: #9A3C48;
}

input[type="submit"]:hover {
    cursor: pointer;
}


.block_image {
    width: 50%;
}

.block_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #C4C4C4;
    border-radius: 0px 15px 15px 0px;
}